.App{
    height: 100%;
}

:root{
    --brown:#906729;
    --borders-color:#dddcda;
    --font-color: #5f5f66;
    --light-grey: #bdb9b4;
}

.f-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
}

.main-color{
    color: var(--brown);
}

.Active-btn, .Active-btn:hover{
    background-color: var(--brown) !important;
    color:white !important;
    max-width: 500px;
    width: 100%;
}

.font{
    color: var(--font-color);
}

@keyframes selection {
    from {border: 2px solid var(--borders-color);}
    to {border: 2px solid var(--brown);}
}

@keyframes unselection {
    from {border: 2px solid var(--brown);}
    to {border: 2px solid var(--borders-color);}
}

input::placeholder{
    color:#cccac8 !important;
}

.selected{
    animation-name: selection;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.container{
    border:2px solid var(--borders-color);
    font-weight: 500;
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    -ms-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
    word-wrap: break-word;
    overflow: auto;
}

.bk-btn{
    border: none;
    color: white;
    font-weight: bolder;
}