.price{
    color: var(--main-color);
}

.my-btn-outline{
    background-color: transparent !important;
    color: var(--main-color) !important;
    border:1px solid var(--main-color);
    max-width: 500px;
    width: 100%;
    font-weight: 700;
}

.btn img{
    max-width: 100px;
    max-height: 33px;
}