.price{
    color: var(--brown);
}

.my-btn-outline{
    background-color: transparent !important;
    color: var(--brown) !important;
    border:1px solid var(--brown);
    max-width: 500px;
    width: 100%;
    font-weight: 700;
}

.btn img{
    max-width: 100px;
    max-height: 33px;
}